  <div class="container">
  <footer class="">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3">
          <ul class="list-unstyled clear-margins">
            <li class="widget-container widget_nav_menu">
              <h1 class="title-widget">INFORMATIONS</h1>
              <ul>
                <li><a  href="#"><i class="fa fa-angle-double-right"></i> Promotions</a></li>
                <li><a  href="#"><i class="fa fa-angle-double-right"></i> Meilleures ventes</a></li>
                <li><a  href="#"><i class="fa fa-angle-double-right"></i> Contactez-nous</a></li>
                <li><a  href="#"><i class="fa fa-angle-double-right"></i> Demande Devis</a></li>
                <li><a  href="#"><i class="fa fa-angle-double-right"></i> Livraison Express</a></li>
                <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Questions Fréquentes FAQ</a></li>
                <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Service Aprés Vente</a></li>
                <li><a  href="#"><i class="fa fa-angle-double-right"></i>  sitemap</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3">
          <ul class="list-unstyled clear-margins">
            <li class="widget-container widget_nav_menu">
              <h1 class="title-widget">MON COMPTE</h1>
              <ul>
                <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Mes commandes</a></li>
                <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Mes retours de marchandise</a></li>
                <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Mes avoirs</a></li>
                <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Mes adresses</a></li>
                <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Mes informations personnelles</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3">
          <ul class="list-unstyled clear-margins">
            <li class="widget-container widget_nav_menu">
              <h1 class="title-widget">Nos MAGASINS</h1>
              <ul>
                <li><a href="#"><i class="fa fa-angle-double-right"></i> Magasin Principal Charguia I</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i> Magasin Ariana</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i> Magasin Tunis</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i>   Magasin Sousse</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i> Magasin Nabeul</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i> Livraison Express</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3">
          <ul class="list-unstyled clear-margins">
            <li class="widget-container widget_recent_news">
              <h1 class="title-widget">Contact Detail </h1>
              <div class="footerp">
                <h2 class="title-median">My STORE Charguia I</h2>
                <p><b>Email :</b> <a href="mailto:contact@mystore.com">contact@mystore.com</a></p>
                <p><b>Téléphone </b>
                  <b style="color:#ffc106;">(8AM à 6PM):</b> <br> +216 96 555 656</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  </div>
